.textVertical {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
}

.slidePage {
  transition: 1s;
}

.translateAnim {
  transform: translate(-3000px);
}

.page-1 {
  position: absolute;
  z-index: 4;
  background-color: white;
  width: 91%;
  height: 100%;
  right: 9%;
  transition: all 1s ease-in-out;
}

.page-2 {
  position: absolute;
  z-index: 3;
  background-color: white;
  width: 91%;
  height: 100%;
  right: 6%;
  transition: all 1s ease-in-out;
}

.page-3 {
  position: absolute;
  z-index: 2;
  background-color: white;
  width: 91%;
  height: 100%;
  right: 3%;
  transition: all 1s ease-in-out;
}

.page-4 {
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 91%;
  height: 100%;
  right: 0%;
  transition: all 1s ease-in-out;
}

textarea {
  resize: none;
}
